.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    padding-inline: 1em;
}

.app-header h1{
    font-size: 32px;
}

.app-header nav {
    display: flex;
    gap: 10px;
}